# --- documentation site ---
mkdocs-material
mkdocs-material-extensions
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
pymdown-extensions

# --- exercises (data generation, analysis and plots) ---
numpy
pandas
matplotlib
scikit-learn
